################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/output
/src/cs/TCWCE-CSharp/bin
/src/cs/TCWCE-CSharp/obj
/src/cs/Debug/bin
/src/cs/Debug/obj
/src/cpp/Output
*.user
/src/rust/target
/src/rust/.idea
